@charset "UTF-8";
/* CSS Document */

html,
body {
	background-color: #EAEAEA;
    margin:0;
    padding:0;
    height:100%;
}

body,td,th {
	color: #FFF;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
a:hover {
	color: #CCC;
}

#wrapper {
    min-height:100%;
    position:relative;
}
#header {
}
#content {
    padding-bottom:100px; /* Altura del footer */
}
#footer {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

